html, body, #root{
    height: 100%;
}

select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-track {
  background-color: transparent;
}

select::-webkit-scrollbar-thumb {
  @apply bg-grey-600;
  border-radius: 5px;
}

.invisible-scroll {
  overflow-y: auto;
  padding-left: 8px;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

/* Hide the scrollbar thumb in Webkit browsers */
.invisible-scroll::-webkit-scrollbar {
  width: 0.5em;
}

.invisible-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}